body, html {
  background-color: #f2f2f2;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  height: 100%;
}

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.card-validator-wrapper {
  width: 40rem;
}

.card-validator-wrapper .card-header {
  font-weight: bold;
}